html{
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(38, 80, 78, 0.747), rgb(39, 91, 121));
}
.hero {
    object-fit: cover;
    height: 250px;    
    background:url("https://ca-times.brightspotcdn.com/dims4/default/25e1c0c/2147483647/strip/true/crop/5184x3456+0+0/resize/1200x800!/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F9e%2Faf%2F0d8ec73b408ba1fde362ef73570d%2F459362-et-0717-johnson-mwy-0066.JPG");
}

.box{
    margin-left: 30px;
    /* margin-top: 5%; */
    margin-right: 30px;
    font-weight: bold;
}

.city-name {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.city-name{
    max-width: 50%;
    font-weight: bolder;
}

.card-created {
    display: flex;
    flex-wrap: wrap;
}

.times{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    margin-top: 20px;
    justify-content: center;      
}

.times span{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

#start-time{
    margin-right: 10px;
}

#end-time{
    margin-left: 10px;
}

.submit{    
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.move-down{
    margin-top: 5%;
}

.displayed-conditions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
img{ 
    width: 2cm;
    height: 2cm;
}

.site-intro{
    padding-bottom: 10%;
}

@media (max-width:481px)  {
    
    #end-text{
        display: none;
    }
    #start-text{
        display: none;
    }
}

@media (max-width:350px)  {
    
    .icon{
        display: none;
    }
    /*footer*/
    ul {
        margin: 0px;
        padding: 0px;
    }
    .footer-section {
      background: #151414;
      position: relative;
    }
    
    .footer-content {
      position: relative;
      z-index: 2;
    }
    .copyright-area{
      background: #0f0d0d;
      padding: 25px 0;
    }
    .copyright-text p {
      margin: 0;
      font-size: 14px;
      color: #150d0d;
    }
    .copyright-text p a{
      color: #4b2412;
    }

}