html{
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(38, 80, 78, 0.747), rgb(39, 91, 121));
}
.hero {
    height: 250px;    
    background:url("../image/logo-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center;

}

.box{
    margin-left: 30px;
    /* margin-top: 5%; */
    margin-right: 30px;
    font-weight: bold;
}

.city-name {
    display: block;
    font-size: larger;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.city-name{
    max-width: 50%;
    font-weight: bolder;
}

.card-created {
    display: flex;
    flex-wrap: wrap;
}

.times{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    margin-top: 20px;
    justify-content: center;      
}

.times span{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

#start-time{
    margin-right: 10px;
}

#end-time{
    margin-left: 10px;
}

.submit{    
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.move-down{
    margin-top: 5%;
}

.displayed-conditions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
img{ 
    width: 2cm;
    height: 2cm;
}

.site-intro{
    padding-bottom: 10%;
}

.article-alert{
    margin-left: 15px;
}

@media (max-width:950px) {

    .hero{
        height: 200px;
        background-size:contain;
    }

    .article-alert{
        margin-top: 5px;
        margin-left: 0;
    }
}

@media (max-width:481px)  {

    .hero{
        height: 150px;
        background-size:contain;
    }
    
    #end-text{
        display: none;
    }
    #start-text{
        display: none;
    }

    .article-alert{
        margin-top: 5px;
        margin-left: 0;
    }
}

@media (max-width:350px)  {

    .hero{
        height: 100px;
        background-size:contain;
    }
    
    .icon{
        display: none;
    }
    /*footer*/
    ul {
        margin: 0px;
        padding: 0px;
    }

    .article-alert{
        margin-top: 5px;
        margin-left: 0;
    }

    .footer-section {
      background: #151414;
      position: relative;
    }
    
    .footer-content {
      position: relative;
      z-index: 2;
    }
    .copyright-area{
      background: #0f0d0d;
      padding: 25px 0;
    }
    .copyright-text p {
      margin: 0;
      font-size: 14px;
      color: #150d0d;
    }
    .copyright-text p a{
      color: #4b2412;
    }

}